body {
    font-family: 'Ruda', sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; 
   
}

#PAI {
    border-top: solid black 15px;
    border-bottom: solid black 15px;
    display: flex; 
    width: 80%; 
    max-width: 1200px; 
  
    
    
}

.OI {
    background-color: #d9d9d9;
    padding: 20px;
    width: 40%; 
    box-sizing: border-box; 
    
}

.CONTATO {
    font-size: 2em;
    padding: 20px;
    width: 60%; 
    box-sizing: border-box; 
}
